In [51]:
import pandas as pd
import numpy as np
from pandas import DataFrame

### Main file

In [5]:
df_main = pd.read_csv('main.csv', delimiter=';')
df_main.columns = ['name','address','code','type','risk','date','duration','department']
df_main.head(1)

,name,address,code,type,risk,date,duration,department
0,"ПРИВАТНЕ ПІДПРИЄМСТВО ""ТЕХНОМАРКЕТ""","30100, Хмельницька обл., місто Нетішин, ПРОСПЕ...",32729353,Дотримання вимог законодавства у сфері містобу...,Середній,15.06.2020,10,Відділ державної архітектурно-будівельної інсп...

### `type` file

In [6]:
df_type = pd.read_csv('mapping-1.csv', delimiter=';')
df_type.head(1)

  Предмет здійснення заходу державного нагляду (контролю)
0  Дотримання вимог законодавства у сфері містобу...

In [57]:
map_type = {}
for i,x in enumerate(sorted(set([x[0].strip() for x in df_type.values]))):
    map_type[i]=x.lower().strip()

len(map_type)

138

### `department` file

In [30]:
df_department = pd.read_csv('mapping-2.csv', delimiter=';')
df_department.head(1)

   Найменування органу державного нагляду (контролю)
0  Відділ державної архітектурно-будівельної інсп...

In [58]:
map_department = {}
for i,x in enumerate(sorted(set([x[0].strip() for x in df_department.values]))):
    map_department[i]=x.lower().strip()

len(map_department)

45

### Replacing values with numbers

In [39]:
def get_key_by_value(dict_obj, value):
    return list(dict_obj.keys())[list(dict_obj.values()).index(value.lower().strip())]

In [43]:
df_main['type_id'] = df_main.type.apply(lambda x: get_key_by_value(map_type, x))
df_main['department_id'] = df_main.department.apply(lambda x: get_key_by_value(map_department, x))
df_main.head(1)

,name,address,code,type,risk,date,duration,department,type_id,department_id
0,"ПРИВАТНЕ ПІДПРИЄМСТВО ""ТЕХНОМАРКЕТ""","30100, Хмельницька обл., місто Нетішин, ПРОСПЕ...",32729353,Дотримання вимог законодавства у сфері містобу...,Середній,15.06.2020,10,Відділ державної архітектурно-будівельної інсп...,98,7

### Drop unused data

In [45]:
df_main_1 = df_main.copy()
df_main_1.drop(['type','department'], axis=1, inplace=True)
df_main_1.head(1)

,name,address,code,risk,date,duration,type_id,department_id
0,"ПРИВАТНЕ ПІДПРИЄМСТВО ""ТЕХНОМАРКЕТ""","30100, Хмельницька обл., місто Нетішин, ПРОСПЕ...",32729353,Середній,15.06.2020,10,98,7

### Save

In [65]:
df_main_1.to_csv('db.csv', index=False)

In [66]:
df_map_1 = DataFrame([[k,v] for k,v in map_type.items()])
df_map_1.drop([0], axis=1, inplace=True)
df_map_1.to_csv('map_type.csv', header=None, index=False)
df_map_1.head(3)

                                                   1
0  1.  виробництво електричної енергії, технічна ...
1  1.  технічний стан резервних автономних джерел...
2  1.  технічний стан резервних автономних джерел...

In [67]:
df_map_2 = DataFrame([[k,v] for k,v in map_department.items()])
df_map_2.drop([0], axis=1, inplace=True)
df_map_2.to_csv('map_map_department.csv', header=None, index=False)
df_map_2.head(3)

                                                   1
0   івано-франківська обласна державна адміністрація
1  інспекція державного архітектурно-будівельного...
2  інспекція державного архітектурно-будівельного...